.clearflix{
    clear: both;
}
body{
    font-family: sans-serif;
    margin: 0px;
}
.barra_superior{
    border-bottom: 1px solid rgb(204, 204, 204);
    color: rgb(187, 187, 187);
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14px;
}
.container{
    max-width:960px;
    width: 100%;
    margin: 0 auto;
}
nav {
    color: rgb(187, 187, 187);
    font-size: 12px;
    float:right;
    margin-top:50px;
    }
    
nav a{
    color: rgb(187, 187, 187);
    text-decoration: nome;
    }
nav a.btnDestaque{
    margin-left: 25px;
}
.btnDestaque{
    background-color: rgb(255,77,77);
    color:white;
    padding: 12px 40px;
    border-radius: 3px;
    font-size: 12px;
    text-decoration:none;
    }
.sec01{
    height: 400px;
    color: white;
    background-image: url(../img/home.jpg);
    background-repeat: no-repeat;
    background-position: center;
}
.sec01 p{
    font-size: 24px;
    padding-bottom: 30px;
    padding-left: 60px;
}
.sec01 p.titulo{
    font-size: 30px;
    padding-top: 100px;
}
.sec02{
   
}
.sec02 p{
     border: 1px groove rgb(204, 204, 204);
    font-size: 26px;
    text-align: center;
}
.sec02 img{
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
    max-width: 960px;
}
.sec03 {
    
    height: 400px;
}
.sec03 p{
    font-size: 30px;
    line-height: 120%;
    color: rgb(102,102,102);
    padding-top: 70px;
    padding-left: 40px;
}
.largura40{
    background-color: rgb(239,202,95);
    width: 40%;
    float: left;
    height: 400px;
}
.largura60{
    width: 60%;
    float: left;
    background-image: url(../img/home2.jpg);
    background-position: right;
    height: 400px;
}
.direito_reservado{
    background-color:  rgb(255,77,77);
    color:white;
    text-align: center;
    padding-top:45px ;
    padding-bottom:45px ;
}
.direito_reservado a{
    color: white;
}
.um_terco{
    width: 33%;
    float: left;
}